@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');

* {}

.fondo {
    background: url('../img/fondo.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.mesero {
    display: flex;
    justify-content: flex-end;
    /* Centra horizontalmente */
    align-items: center;
    width: 100px;
    margin-top: 30px;

}

span {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    font-family: 'Fresca';
    font-weight: bolder;
    text-align: center;
    padding: 0px;
}

.menutitulo {
    color: #ff914d;
    font-size: 65px;
}

.restTitulo {
    color: #59b379;
    font-size: 40px;

}

.circulo {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;    
    width: 100%;
    /* Ancho del semicírculo */
    height: 200px;
    /* Altura es la mitad del ancho para lograr un semicírculo */
    background-color: rgba(255, 145, 77, 0.8);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.botonIniciar{
    color:white;
    border: 0px;
    font-family: 'Fresca';
    font-size: 35px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
}